﻿<div class="jumbotron">
    <h1>Services</h1>
    <p class="lead">Click on swagger To see MehrHousing Api Services</p>
    <p><a href="swagger/swagger/ui/index" class="btn btn-success btn-lg">Swagger  &raquo;</a></p>
</div>